.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 35px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color:transparent ;
}
.logo{
    position:fixed;
    left:30px;
    width:150px
}

.avatar{
    position: fixed;
    right: 20px;
    width: 30px;
}
.sign{
    position: fixed;
    right: 80px;
    width: 80px;
    height: 30px;
    color: white;
    background-color: red;
    border-radius: 5px;
}